:root {
  --clr-primary-400: hsl(215, 51%, 70%);
  --clr-primary-300: hsl(178, 100%, 50%);
  --clr-primary-200: hsla(178, 100%, 50%, 0.38);
  --clr-neutral-400: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(215, 32%, 27%);
  --clr-neutral-200: hsl(216, 50%, 16%);
  --clr-neutral-100: hsl(217, 54%, 11%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-neutral-100);
}

.wrapper {
  --width: 25rem;
  max-width: var(--width);
  margin: 0 auto;
  padding: 1rem;
}

.card {
  padding: 1rem;
  border-radius: 12px;
  background-color: var(--clr-neutral-200);
}

.card__image {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 12px;
  cursor: pointer;
}

.card__image .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__image:hover .overlay {
  opacity: 1;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-primary-200);
}

.card__title {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: var(--clr-neutral-400);
  transition: color 0.3s;
}

.card__title:hover,
.author__name:hover {
  color: var(--clr-primary-300);
  cursor: pointer;
}

.card__description {
  margin-top: 1rem;
  line-height: 1.5;
  color: var(--clr-primary-400);
}

.card__specials {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.card__special {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__special--value {
  color: var(--clr-primary-300);
}

.card__special--time {
  color: var(--clr-primary-400);
}

.author {
  padding: 1rem 0;
  border-top: 1px solid var(--clr-neutral-300);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author__image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--clr-neutral-400);
}

.author__personal {
  color: var(--clr-primary-400);
  font-size: 0.875rem;
}

.author__name {
  color: var(--clr-neutral-400);
  font-weight: 500;
  transition: color 0.3s;
}
